
<table id="layoutTable">
  <tr>
    <td rowspan=2 id="sidebar">

      <div id="list">

          <div class="folder" *ngFor="let folder of $READER.folders; let index=index" (click)="listFolderClick(folder.id, index)">
              {{folder.name}}
          </div>
          <hr>
          <div class="file" *ngFor="let file of $READER.files; let index=index" [ngClass]="{'selectedFile':  $READER.currFile.id == file.id}"  (click)="listFileClick(file.id, index)">
            <!-- {{file.id}}) -->{{file.title}}
          </div>
          <hr>          

      </div>

    </td>

    <td id="titlebar" *ngIf="$READER.currFile.extra">

      <div [ngClass]="{'dispNone': $READER.editMode}" [innerHTML]="$READER.currFile.extra.title"></div>

      <input id="titleInput" type="text" [ngClass]="{'dispNone': !$READER.editMode}" [(ngModel)]="$READER.currFile.extra.title">

    </td>

    <td id="rectangleTopRightButtons">

      <button (click)="toggleEditMode()" [ngClass]="{'buttonSelected': $READER.editMode}">Edit</button>
      
      <button (click)="save()">Save</button>

    </td>

  </tr>
  <tr>

    <td colspan=2 id="rectangle">

      <div [ngClass]="{'dispNone': $READER.editMode}" [innerHTML]="$READER.currFile.HTML"></div>

      <textarea [ngClass]="{'dispNone': !$READER.editMode}" [(ngModel)]="$READER.currFile.MD"></textarea>


    </td>

  </tr>
</table>
