

/*-------------------------------------------------------------------------- LAYOUT TABLE */
#layoutTable{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#layoutTable tr td{
    outline: 1px solid black
}
#layoutTable tr td.editHighlight{
    outline: 1px solid red;
}

/*-------------------------------------------------------------------------- SIDEBAR */
#sidebar{
    width: 200px;
    background-color: #f3f2f2;
}
#list{
    /* padding: 5px; */
}
.folder{
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
}
.file{
    cursor: pointer;
    padding: 5px; 
}



/*-------------------------------------------------------------------------- RECTANGLE (content area) */

#rectangle, #sidebar, #titlebar{
    vertical-align: top;
    margin:0;
    padding:5px;
}

/*---------------------- TITLE BAR */
#titlebar{
    height: 1px;
}
#titleInput{
    width: 99%;
}

#rectangleTopRightButtons{
    width: 1px;
    white-space: nowrap;
}
#rectangleTopRightButtons button{
    margin: 0 5px;
}
textarea {
    border: none;
    width: 100%;
    height: calc(100% - 5px); 
    box-sizing: border-box;
    margin:0;
    padding:5px;
}
.selectedFile{
    background-color: lightyellow;
}
.file:hover{
    text-decoration: underline;
}






