<nav>
  
    <div id="title">
      Welcome to {{$APP.title}}!
    </div>
  
    <a routerLink="/home">Home</a> - 
    <a routerLink="/reader">Reader</a>
  
    <span id="navbarRight">
        <button (click)="toggleEditMode()" [ngClass]="{'buttonSelected': $READER.editMode}">Edit</button>
  
        <button (click)="save()">Save</button>
  
        <button (click)="TESTcallFunctionInReader()">TEST</button>
  
    </span>
  
    
  </nav>
  
  
  
  <div id="outletWrapper">
    <router-outlet></router-outlet>
  </div>