


html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#outletWrapper {
    height: calc(100% - 50px);
    display: inline-block;
    width: 100%;
    position: absolute;
}

.dispNone{
    display: none;
}
.buttonSelected{
    font-weight: bold;
}


.colorRed{
    color:red;
}
.colorGreen{
    color:green;
}
.colorBlue{
    color:blue;
}